/* Fontes */
@font-face {
    font-family: 'BrandonGrotesque-Bold';
    src: url('../fonts/Brandon\ Grotesque\ Bold.otf');
}

@font-face {
    font-family: 'BrandonGrotesque-Medium';
    src: url('../fonts/Brandon\ Grotesque\ Medium.otf');
}

@font-face {
    font-family: 'Aaux ProLight';
    src: url('../fonts/Aaux\ Pro\ Light.ttf');
}

@font-face {
    font-family: 'Aaux ProMedium';
    src: url('../fonts/Aaux\ Pro\ Medium.ttf');
}

@font-face {
    font-family: 'Trade Gothic LT Std';
    src: url('../fonts/TradeGothicLTStd-Light.otf');
}

/* Tipografia */
h1, h2, h3, h4, h5, h6{
    margin: 0;
}

.botao, button, input, select, textarea, table {
    margin-bottom: 1rem;
}

p{
    margin-top: 0;
}

/* Cores */
.amarelo{
    color: #ffce3f;
}

.marrom{
    color: #43231c
}

/* Geral */
*{
    box-sizing: border-box;
}

html,
body{
    height: 100%;
}

/* Barra de Rolagem */
::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* Conteudo */
.conteudo{
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .conteudo{
        flex-direction: row;
    }
}

/* Navegação */
nav{
    background-color: #e5ead8;
    background-image: url('../img/menu-background.png');
    background-repeat: repeat-x;
}

nav header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

nav header .logo{
    text-indent: -9999px;
    background-image: url('../img/logo.png');
    width: 59px;
    height: 74px;
    margin: 0;
}

nav header .menu-icone-mobile .menu-barra{
    width: 35px;
    height: 5px;
    background-color: #43231c;
    margin: 6px 0;
    transition: 0.4s;
}

nav ul{
    display: none;
    list-style: none;
    padding: 0 3rem;
}

nav.menu-aberto ul{
    display: block;
}

nav .rede-social{
    display: none;
}


@media only screen and (min-width: 992px) {
    nav{
        width: 107px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        height: 100%;
        z-index: 2;
    }

    nav header .menu-icone-mobile{
        display: none;
    }

    nav ul {
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;
        cursor: default;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    nav ul li {
        position: relative;
        display: block;
        margin-bottom: 15px;
        width: 10px;
        height: 10px;
        cursor: pointer;
    }

    .nav ul li a::after {
        content: '';
        position: absolute;
        bottom: 0;
        height: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 0 1px #fff;
        -webkit-transition: height 0.3s ease;
        transition: height 0.3s ease;
    }

    nav li a {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        outline: none;
        border-radius: 50%;
        border: 1px solid #43231c;
        text-indent: -999em; /* make the text accessible to screen readers */
        cursor: pointer;
        position: absolute;
        overflow: hidden;
        background-color: transparent;
        box-shadow: inset 0 0 0 2px white;
        -webkit-transition: background 0.3s ease;
        transition: background 0.3s ease;
    }

    nav ul li a::after {
        content: '';
        position: absolute;
        bottom: 0;
        height: 0;
        left: 0;
        width: 100%;
        background-color: #43231c;
        -webkit-transition: height 0.3s ease;
        transition: height 0.3s ease;
    }

    nav ul li a:hover,
    nav ul li a:focus {
        background-color: rgba(0, 0, 0, 0.25);
    }

    nav ul li.current a::after {
        height: 100%;
    }

    nav ul li a:focus {
        outline: none;
    }

    nav .rede-social{
        font-family: 'Trade Gothic LT Std';
        text-decoration: none;
        color: #707070;
        letter-spacing: 0px;
        font-size: 14px;
        font-weight: bold;
        -ms-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        display: block;
        width: 95px;
        height: 18px;
    }
}

/* Principal */
.principal{
    width: 100%;
    height: 100%;
}

.principal section{
    position: relative;
    color: #fff;
    width: 100%;
    min-height: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right 45%;
    padding: 2rem 1rem;
}

.principal section h3{
    font-family: 'BrandonGrotesque-Bold';
    margin: 15px 0;
}

.principal section p{
    font-family: 'Aaux ProLight';
    font-weight: 100;
}

.principal section.topo{
    background-image: url('../img/topo.jpg');
}

.principal section.topo .cinco.colunas{
    margin: 10rem 0 0 0;
    /* border: 20px solid rgba(44, 5, 152, 0.1); */
	/* box-shadow: 120px 0 20px 50px #1f9; */
	/* background-color: transparent; */
    /* box-shadow: 0px 0px 150px 0px rgba(0,0,0,0.25); */
}

.principal section.topo h2{
    font-family: 'BrandonGrotesque-Bold';
}

.principal section.topo h4{
    font-family: 'Aaux ProLight';
}

.principal section.topo h4 span{
    font-family: 'BrandonGrotesque-Bold';
    display: block;
}

.principal section.brasil{
    background-image: url('../img/brasil.jpg');
}

.principal section.brasil h3,
.principal section.brasil p{
    text-shadow: 1px 0px 0px #000000;
}

.principal section.brasil .video{
    text-shadow: 2px 2px 2px #000000;
}

.principal section.bahia{
    background-image: url('../img/bahia.jpg');
}

.principal section.txai{
    padding: 0;
}

.principal section.txai .item{
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.principal section.txai .item#slide1{
    background-image: url('../img/slide1.jpg');
}

.principal section.txai .item#slide2{
    background-image: url('../img/slide2.jpg');
}

.principal section.txai .item#slide3{
    background-image: url('../img/slide3.jpg');
}

.principal section.txai .item#slide4{
    background-image: url('../img/slide4.jpg');
}

.principal section.txai .item#slide5{
    background-image: url('../img/slide5.jpg');
}

.principal section.txai .item#slide6{
    background-image: url('../img/slide6.jpg');
}

.principal section.txai .item p{
    font-family: 'Aaux ProMedium';
    background: #fff;
    color: #000;
    padding: 2rem;
    text-align: center;
    position: absolute;
    font-size: 1.4rem;
    width: 100%;
    top: 65%;
}

.principal section .icone-navegacao-cima{
    display: block;
    margin: 3rem auto 0;
    text-indent: -9999px;
    width: 27px;
    height: 28px;
    background-image: url('../img/seta-cima.png');
    background-repeat: no-repeat;
}

.principal section .icone-navegacao-baixo{
    display: block;
    margin: 3rem auto 0;
    text-indent: -9999px;
    width: 31px;
    height: 33px;
    background-image: url(../img/seta-baixo.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3rem;
    z-index: 2;
}

.principal section:nth-of-type(2) .icone-navegacao-baixo{
    position: relative;
    bottom: 0;
}

@media only screen and (min-width: 992px) {
    .principal section{
        height: 100%;
        padding: 10rem 0;
    }
    
    .principal section h3{
        font-size: 36px;
    }

    .principal section p{
        font-family: 'Aaux ProLight';
        font-size: 18px;
        line-height: 24px;
    }

    .principal section.topo .cinco.colunas{
        /* margin: 10rem 0 0 20rem; */
    }

    .principal section.topo h2{
        font-size: 120px;
        letter-spacing: -5px;
    }

    .principal section.topo h4{
        font-weight: 100;
        font-size: 28px;
    }

    .principal section.topo h4 span{
        display: inline;
    }

    .principal section.bahia{
        padding: 5rem 10rem 5rem;
    }

    .principal section.bahia .doze.colunas{
        text-align: center;
    }

    .principal section.bahia p{
        padding: 0 15rem;
    }
}

/* Carousel */
.owl-carousel,
.owl-stage-outer,
.owl-stage,
.owl-item{
    height: 100vh;
}

.owl-nav {
    position: relative;
    margin: 0 auto;
    bottom: 35rem;
    z-index: 2;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.owl-nav .owl-prev,
.owl-nav .owl-next{
    background: #ffce3f !important;
    color: #000 !important;
    padding: 0.5rem 1rem;
    margin-bottom: 0;
}

@media only screen and (min-width: 992px) {
    .owl-nav{
        bottom: 50%;
        width: 70%;
    }
}

/* Footer */
footer{
    background: #fdfefd;
    padding: 1rem 0.5rem
}

footer h4{
    font-family: 'BrandonGrotesque-Bold';
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
    letter-spacing: -1px;
    padding: 0 2rem;
}

footer form .seis.colunas{
    display: flex;
    align-items: center;
}

footer form label{
    font-family: 'BrandonGrotesque-Medium';
    text-transform: uppercase;
    font-size: 12px;
}

footer form label.label-checkbox{
    display: flex;
    align-items: center;
    height: 100%;
    font-family: 'Trebuchet MS';
    font-size: 1rem;
    text-transform: none;

}

footer form label.label-checkbox input{
    margin: 0 5px 0 0;
}

footer form input{
    /* margin-bottom: 10px; */
}

footer p {
    font-family: 'Aaux ProLight';
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
}

footer ul.premios{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer ul.premios li{
    width: 50%;
}

footer ul.premios li a{
    text-indent: -9999px;
    display: block;
}

footer ul.premios li:first-of-type a{
    background-image: url('../img/premios/premio1.png');
    width: 143px;
    height: 66px;
}

footer ul.premios li:nth-of-type(2) a{
    background-image: url('../img/premios/premio2.png');
    width: 144px;
    height: 66px;
}

footer ul.premios li:nth-of-type(3) a{
    background-image: url('../img/premios/premio3.png');
    width: 144px;
    height: 65px;
}

footer ul.premios li:nth-of-type(4) a{
    background-image: url('../img/premios/premio4.png');
    width: 143px;
    height: 65px;
}

footer ul.premios li:nth-of-type(5) a{
    background-image: url('../img/premios/premio5.png');
    width: 143px;
    height: 64px;
}

footer .focus-network{
    display: block;
    text-indent: -999px;
    background-image: url('../img/focus.png');
    background-repeat: no-repeat;
    width: 142px;
    height: 37px;
    margin: 0 auto;
}


@media only screen and (min-width: 992px) {
    footer{
        padding: 5rem 0;
    }

    footer .linha{
        justify-content: center;
    }

    footer ul.premios li{
        width: 33%;
    }
}